

table td:first-child,
table th:first-child {
    background-color: bisque;
}


table td:last-child,
table th:last-child {
    background-color:orange;
}

table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}

.error{
    background-color: red;
}